*{
  font-family: Verdana;
  background-color: #A8D6E6;
}
header{
  width: 100%;
  height: 8em;
  background-color: transparent;
  border-bottom: 1px solid black;
}
.column-1{
  width: 40%;
  position: relative;
  float: left;
  background-color: transparent;
  display: inline-block;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1em;
}
.column-2{
  width: 40%;
  position: relative;
  float: right;
  background-color: transparent;
  display: inline-block;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3em;
}

footer{
  display: inline-block;
  width: 100%;
  clear: both;
  margin-top: 2em;
  border-top: 1px solid black;
}
h2{
  color: #4E195C;
}
h1{
  color: #4E195C;
}
